{
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": false,
  "endOfLine": "lf",
  "printWidth": 120,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "bracketSpacing": true
}
