.page-projects-details {

    .project-details {

        &__container {
            padding: 0 20px;
        }

        &__wrapper {
            display: flex;
            justify-content: flex-start;
            margin: 20px auto;
            padding: 20px 0;
            max-width: 1180px;
            border: 1px solid var(--c-lighter-gray);

            @include max-media($scr-tablet) {
                flex-direction: column;
            }

        }

        &__buttons-container {
            margin-top: 40px;
            margin-bottom: 40px;
            text-align: center;
        }

        &__visual,
        &__info {
            padding: 0 20px;
            flex: 1 1 auto;
        }

        &__visual {

        }

        &__visual-figure {

        }

        &__visual-image {
            display: block;
            width: 100%;
            max-width: 100%;
            margin-top: 20px;
            box-shadow: 0 10px 15px -10px var(--c-light-gray);
            @include rounded-corners();

            &:first-child {
                margin-top: 0;
            }

        }

        &__info {
            flex: 0 0 40%;
            border-left: 1px solid var(--c-lighter-gray);

            @include max-media($scr-laptop) {
                margin-top: 20px;
                flex: 0 0 50%;
            }

        }

        &__info-subject {
            margin-bottom: 5px;
            font-size: var(--text-size-m);
            color: var(--c-orange);
            font-weight: 700;

            @include max-media($scr-laptop) {
                font-size: var(--text-size-body);
            }

        }

        &__info-description {
            margin-bottom: 20px;

            @include max-media($scr-laptop) {
                font-size: var(--text-size-s);
            }

        }

        &__info-live-demo-link {

        }

    }

}
