.app-textarea-field {

    &--invalid {

        .app-textarea-field {

            &__label {

            }

            &__input {
                border-color: var(--c-light-red);

                &:focus {
                    border-color: var(--c-light-red);
                    box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
                }

            }

            &__error-message {
                color: var(--c-light-red);
            }

        }

    }

    &__form-group {
        margin-bottom: 15px;
    }

    &__label {

    }

    &__input {
        padding: 10px 40px 10px 10px;
        width: 100%;
        border-color: transparent;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        font-size: var(--text-size-s);

        &:focus {
            border-color: var(--c-blue);
            box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
        }

        &::placeholder {
            color: var(--c-light-gray);
        }
    }

    &__error-message {
        display: block;
        margin-top: 5px;
        color: var(--c-light-red);
        font-size: var(--text-size-xs);
    }

}
